@tailwind base;
@tailwind components;
@tailwind utilities;

.titlebar {
  -webkit-app-region: drag;
}

.titlebar .navi {
  -webkit-app-region: no-drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: theme('colors.secondary');
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

.HW_badge_cont {
  width: 24px !important;
  height: 20px !important;
}
